

/* basic */
/* header */

header{
    height: 3rem;
    background-image: linear-gradient(135deg,  #1a1a1a,  #333333);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: #27f060 2px solid;
    position: relative;
}
.links{
    display: flex;
    /* padding: 1rem; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.logo div{
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
    }
.logo {
        height: 2rem;
        width: 2rem;
    }

#aside-di{
    /* height: 3rem; */
    /* width: 3rem; */
    padding: .7rem;
}

.miniProfile-di div{
    pointer-events: none;
}

.miniProfile{
    position: absolute;
    padding: .6rem;
    top: 3rem;
    right: 1rem;

    display: none;

    background: rgba(149, 255, 193, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

z-index: 1002;
}
.logged, .notlogged, .makeprofile{
    display: none;
}

/* not logged */
#register, #signin{
    /* background: #22c7519a; */
    background: #22c751;
    background: #68F690;
    background-image: linear-gradient(135deg,  #68F690,  #22c751);

    border-radius: .5rem;
}
/* logged */
#currentAccount{
    text-decoration: none;
    color: black;
}
/* .miniProfile img{
    height: 3rem;
    height: 2.3rem;
    width: 3rem;
    width: 2.3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
} */

.currentAccount .accountImg{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#byGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* half logged */



/* main */


main {
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(45deg,  #fdfdfd,  #dbdbdb);
    /* background: red; */
    padding: 1.2rem;
    gap: 3rem;
}

.project{
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
    background-size: contain;
    background-position: bottom;
    transition: .1s linear;
}
.project:hover{
    box-shadow: 1.2rem 1.2rem 0 #C0F9D0 ;

}
.projectLogo{
    position: absolute;
    top: -1rem;
    left: -1rem;
    background: #1a1a1a;
    padding: .3rem;
    border-radius: .3rem;
}
.projectTitle{
    text-align: center;
    color: white;
}

.projectDescription{
    position: absolute;
    bottom: 0;
    background: #1a1a1aa2;
    left: 0;
    right: 0;
    /* height: 35%; */
    direction: ltr;
    padding: .5rem;
    color: white;
}
.projectBtns{
    position: absolute;
    left: -2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: bold;
}


::-webkit-scrollbar{width:6px;border-left:1px solid #292929;}
::-webkit-scrollbar-thumb{background-color: #33a353;}


  /* leaderboard */
  .leaderBoard{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    max-height: 65vh;
    overflow-y: scroll;
    background: #242424;
    border: #27f060 1px solid;
    max-height: 70vh;
  }
  .leaderBoard>span button{
    background: #33a353;
    padding: .2rem;
    cursor: pointer;
    border-radius: .2rem;
  }
  .rankingHeader{
    display: flex;
    flex-direction: row;
    background: #0a0a0a;
  }
  .rankingHeader button{
    width: 10rem;
    /* flex-grow: 1; */
  }
  #accountHeader{
    min-width: 5rem;
  }
  
  .usersRanking{
    max-width: 100%;
  }
  .rankedAccount{
    border: #0a0a0a 2px solid;
    display: flex;
    color: white;
    background: #242424;
    gap: 1rem;
    max-width: 100%;
    box-sizing: border-box;
  }
  .ranking{
    display: flex;
    flex-direction: column;
    background: #29D659;
    border: #a0f7b9 2px solid;
    font-size: 2rem;
    text-align: center;
  }
  .rankedAccount span, .rankedAccount>h3, .rankedAccount .account{
    width: 10vw;
    /* flex-grow: 1; */
  }
  .rankedAccount .account{
    justify-content: flex-start;
    /* flex-grow: 2; */
  }
  .rankedAccount>h3{
    text-align: center;
  }
  .rankedAccount img{
    min-height: 2rem;
    min-width: 2rem;
  }
  .leaderBoard button{
    background-repeat: no-repeat;
  }
  .rankedAccount h3{
    line-height: 0;
  }
  
  
/* aside */
aside{
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    background: #1a1a1a8c;
    top: 0;
    height: 100vh;
    width: 100vw;
}
#aside-di{
    z-index: 3;
}

/* footer */


footer{
    min-height: 20vh;
    padding: 0% 1rem;
    /* background: green; */
    background: #0a0a0a;
    background-image: linear-gradient(45deg,  #1a1a1a,  #292929);

    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    border-top: #27f060 2px solid;
}

.contact, .statics{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #29D659;
    min-height: 15vh;
    width: 20vw;
    border-radius: .5rem;
    transition: .1s linear;
    background: white;
}
.statics{
    display: flex;
    /* flex-direction: row; */
    width: 60%;
}
.projectsInfo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.projectStatics{
    background: #54db7b;
    background-image: linear-gradient(135deg, #6ada89, #3ac962 );

    /* background: red; */
    border-radius: .3rem;
    padding: .3rem;
}

.contact:hover, .features:hover, .statics:hover{
    box-shadow: 3px 3px 0px 0px  #29D659;
}
.contact img, .features img, .statics img{
    /* height: 2rem; */
}


.features{
    width: 50vw;
}
.features div{
    background: #1a1a1a;
    color: white;
    margin: .1rem;
}
.features li{
    direction: ltr;
}

.statics li b{
    color: red;
}
.statics img{
    height: 1rem;
}



/* elements */
body{
    margin: 0;
}

main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
    direction: rtl;
}

body{
    overflow-x: hidden;
    /* background: #1F2721; */
    margin: 0;
    /* overflow: hidden; */
}
body *{
    /* box-sizing: border-box; */
}
img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
}
input[type=text]{
    font-size: 1rem;
}
input[type=file]{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-position: center;
    background-size: contain;
}
li{
    background: #C0F9D0;
    background-image: linear-gradient(135deg, #9cffb8, #54ff85 );

    border-radius: .4rem;
    margin-bottom: .2rem;
}
label{
    background: #54db7b;
    cursor: pointer;
    padding: .4rem;
    transition: .2s linear;
    border-radius: .2rem;
}
label:hover{
    background: #33a353;
}


/* shared */
.logged, .makeprofile, .notlogged{
    display: none;
}
.box{
    background-color: #27f060;
    background-image: linear-gradient(135deg,  #27f060, #22c751);

    padding: .5rem;
    border-radius: .5rem;
    transition: .1s linear;
    cursor: pointer;
}
.box:hover{
    background-color: #33a353;
    border-radius: .7rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    transition: .1s linear;
    cursor: pointer;
}

.accountImg{
    border-radius: 50%;
    border: #0a0a0a 1px solid;
}



.on{
    background: #1b1b1b;
    color: white;
}
.on:hover{
    background: #333333;
}

.red {
    background: #ff2a2a;
}

.green {
    background: #27f060;
}

.black {
    background: #0a0a0a;
}

.white {
    background: rgb(245, 245, 245);
}        

/* mobile */

@media all and (max-width: 500px){
    main{
        flex-direction: column;
    }
    .web{
        width: 15rem;
        height: 15rem;
    }
    body *{
        font-size: .8rem;
    }
    footer{
        flex-direction: column;
        gap: .2rem;
    }
    .contact, .features, .statics{
        width: 90vw;
    }

      /* leaderboard */
  .leaderBoard{
    /* position: absolute; */
    /* top: 2rem; */
    /* transform: translate(0, 2rem); */
    width: 100vw;
}
.leaderBoard img{
    height: 1rem;
}
.rankingHeader{
    height: 2rem;
    font-size: small;
}
.rankedAccount{
    /* justify-content: space-evenly; */
    height: fit-content;
}
.rankedAccount .account{
    /* min-width: fit-content; */
    
    width: 5rem;
    /* width: 3rem; */
}
.rankedAccount span{
    font-size: small;
}
.rankedAccount>h3, .rankedAccount div{
font-size: .7rem;
}

}


/* js created */



