
/* basic */

/* header */

header{
    height: 3rem;
    /* background: #29D659; */
    /* background: #1a1a1a; */
    background-image: linear-gradient(135deg,  #1a1a1a,  #272727);
    background-image: linear-gradient(135deg,  #1a1a1a,  #383838);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: white;
    border-bottom: #27f060 2px solid;
    text-align: center;
}
.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
    }
    .logo {
        height: 2rem;
        width: 2rem;
    }

#footer-di{
    /* background: red; */
    z-index: 1003;
    border: #ff2a2a 2px solid;
}
.auth{
height: 2rem;
}
.auth div{
    pointer-events: none;
}
.authstate{
    position: absolute;
    /* make it glass form */
    /* background: #29D659;
    border-radius: .6rem; */
    padding: .6rem;
    top: 3rem;
    right: 1rem;
    /* width: 7rem; */
    width: auto;

    z-index: 1002;
    display: none;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
background: rgba(149, 255, 193, 0.2);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.cuserimg{
    /* height: 3rem; */
    width: auto;
}
#profileLink{
    text-decoration: none;
    color: black;
}
.logged, .notlogged, .makeprofile{
    display: none;
}
.logged{

}
.auth img{
    height: 3rem;
    height: 2.3rem;
    width: 3rem;
    width: 2.3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.cuserimg{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#bygoogle{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

/* footer */


/* elements */

/* shared */


/* mobile; media */



/* js generated */


